.profile-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-head .profile-user {
  display: flex;
  align-items: center;
}

.profile-head .profile-user h1 {
  text-transform: capitalize;
}

.profile-head .profile-user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-head .profile-menu ul {
  display: flex;
  align-items: center;
}

.profile-head .profile-menu ul li {
  width: 60px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.profile-head .profile-menu ul li:hover {
  transform: scale(1.05);
}

.profile-head .profile-menu ul li a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

ul li {
  list-style: none;
}

ul li span {
  font-weight: 600;
}

@media screen and (max-width: 320px) {
  .profile-head .profile-menu ul {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .profile-head .profile-menu ul li {
    margin-bottom: 2px;
    padding: 5px;
  }
}

.box-task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-task input {
  padding: 10px;
  width: 50%;
  font-size: 16px;
  border: 0;
  box-shadow: 1px 1px 5px #aaa;
  outline: none;
}

.box-task button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  border: 0;
  box-shadow: 1px 1px 5px #aaa;
  cursor: pointer;
}

.box-task button:hover {
  background: #ccc;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

table th {
  border: 1px solid black;
  background: rgb(69, 139, 231);
  color: white;
  font-weight: 600;
  margin-bottom: 10px;
}

table td {
  border: 1px solid black;
  padding: 2px 4px;
}

table select {
  border: none;
  outline: none;
}

table button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

}